<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.TeachPlanMapper">

    <resultMap id="TeachPlanNode"
               type="com.xuecheng.framework.domain.course.ext.TeachplanNode">

        <id column="one_id" property="id"></id>
        <result column="one_pname" property="pname"></result>

        <collection property="children"
                    ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">

            <id column="two_id" property="id"></id>
            <result column="two_pname" property="pname"></result>

            <collection property="children"
                        ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">

                <id column="three_id" property="id"></id>
                <result column="three_pname" property="pname"></result>

            </collection>
        </collection>

    </resultMap>
    <select id="findTeachPlanTreeByCourseId" parameterType="java.lang.String"
            resultMap="TeachPlanNode">
        select
        one.id one_id,
        one.pname one_pname,
        one.orderby one_orderby,
        two.id two_id,
        two.pname two_pname,
        two.orderby two_orderby,
        three.id three_id,
        three.pname three_pname,
        three.orderby three_orderby
        from
        teachplan one
        left join teachplan two on one.id  = two.parentid
        left join teachplan three on two.id = three.parentid
        where
        one.grade = 1
        <if test="_parameter!=null and _parameter!=''">
            and one.courseid = #{courseId}
        </if>
        order by
        two.orderby,
        three.orderby
    </select>
</mapper>